<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Inventory", root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-space-between" id="navbar-content">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <% items.each do |key, value| %>
          <li class= <%= "nav-item" %> >
            <%= link_to "#{key}", value, class: "nav-link #{'active' if request.url.include? key.to_s.downcase}"%>
          </li>
        <%end%>
      <% end %> 
    </ul>
    <span class="navbar-text">
      <% if current_user %>
      Hi, <%= current_user.email %>!
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'custom-nav-right'%>
      <% else %>
        <%= link_to 'Register', new_user_registration_path, class: 'custom-nav-right' %>
        <%= link_to 'Login', new_user_session_path, class: 'custom-nav-right' %>
      <% end %> 
    </span>
  </div>
</nav>

<% if current_user %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <% breadcrumbs(request.path).each do |list| %>
      <%= list %>
    <% end %>
  </ol>
</nav>
<% end %>