<%= form_with model: order, local: true do |f| %>
  <div class="form-group">
    <%= f.label :customer_name %>
    <%= f.text_field :customer_name, class: 'form-control' %>
    <%= render_error(order, :customer_name) %>
  </div>

  <div class="form-group" id="order-select">
    <%= f.label :warehouse %>
    <%= f.select :warehouse_id, 
                  @warehouses.map { |w| ["#{w.full_address}", w.id] },
                  {},
                  { class: 'form-control' } %>
  </div>
  <%= f.submit 'Save Order', class: 'btn btn-success', id: 'submit-order-edit-button' %>
  <%= link_to 'Back', orders_path, class: 'btn btn-primary' %>
<% end %>