
<div class="container">
  <dl class="row">
    <dt class="col-sm-2">Name</dt>
    <dd class="col-sm-10" id=<%= "order--#{@order.id}_customer_name" %> ><%= @order.customer_name %></dd>

    <dt class="col-sm-2">Warehouse</dt>
    <dd class="col-sm-10" id=<%= "order--#{@order.id}_full_address" %> ><%= "#{@order.warehouse.full_address}" %></dd>
  </dl>
</div>

<div class="container">
  <%= react_component "Order",
      {
        id: @order.id,
        products: @products.as_json(only: %i[name id]),
        order_items: @order.order_items.as_json(
          only: %i[id quantity],
          include: {
            product: {
              only: %i[sku name]
            }
          }
        )
      } %>
</div>

<div class="container">
  <%= link_to 'Back', orders_path, class: 'btn btn-danger' %>
</div>
