<h1>Warehouses</h1>

<div class="container">
  <div class="row">
    <table class="table table-striped text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Address</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @warehouses.each do |warehouse| %>
          <tr>
            <th scope="row"><%= warehouse.id %></th>
            <td><%= warehouse.full_address %></td>
            <td>
              <%= link_to '&#128065;'.html_safe, warehouse_path(warehouse), class: 'btn btn-success' %>
              <%= link_to '&#9998;'.html_safe, edit_warehouse_path(warehouse), class: 'btn btn-primary' %>
              <%= link_to '&#128465;'.html_safe, warehouse_path(warehouse), 
                                        method: :delete, 
                                        data: { confirm: 'Are you sure?' }, 
                                        class: 'btn btn-danger' %>
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>  
  </div>

  <div class="row">
    <%= link_to 'New Warehouse', new_warehouse_path, class: 'btn btn-primary' %>
  </div>
</div>