<h1>WELCOME TO Warehouse</h1>

<div class="container">
  <dl class="row">
    <dt class="col-sm-2">Street</dt>
    <dd class="col-sm-10"><%= @warehouse.street %></dd>

    <dt class="col-sm-2">City</dt>
    <dd class="col-sm-10"><%= @warehouse.city %></dd>

    <dt class="col-sm-2">Province</dt>
    <dd class="col-sm-10"><%= @warehouse.province %></dd>
  </dl>
  <div class="row">
    <%= link_to 'Back', warehouses_path, class: 'btn btn-primary' %>
  </div>
</div>

<%# <%= render 'shared/add_stock',
            stock: @stock,
            warehouse: @warehouse,
            products: @products %>
<%# <%= render 'shared/add_stock', stock: @stocks, products: @products, form_action: warehouse_stocks_path(@warehouse)            %>


  <table class="table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @warehouse.products.each do |product| %>
        <tr>
          <td><%= product.name %> </td>
          <td><%= @warehouse.inventory_count(product) %> </td>
          <td>
            <%= render 'stocks/form', stock: @stock, warehouse: @warehouse, product: product.id%>      
          </td>
        </tr>
      <%end%>
    </tbody>

  </table>