<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render 'shared/navbar', items: {Products: products_path, Warehouses: warehouses_path, Orders: orders_path} %>
    <%= render 'shared/flash' %>
    <%= react_component 'HelloWorld' %>
    <%= react_component 'Calculator', { firstValue: 1, secondValue: 2 } %>
    <%= yield %>
  </body>
</html>
